@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Series Gato</h1>
    <p>La mejor informacion de tus series favoritas.</p>
</div>

<div style="float: right">
@foreach(Series item in ViewBag.ListaSeries){
<div class="card" style="width: 18rem;">
  <img src="@item.ImagenSerie" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@item.Nombre</h5>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalTemporadas" onclick="MostrarTemporadas(@item.IdSerie)"> Temporadas</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalActores" onclick="MostrarActores(@item.IdSerie)"> Actores</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSeries" onclick="MostrarSeries(@item.IdSerie)"> Mas info</button>
  </div>
</div>
}
</div>
<!-- Modal -->
<div class="modal" id="ModalSerie" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NombreSerie">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" id="FotoSerie">
        <div id="Info1"></div>
        <div id="Info2"></div>
        <div id="Info3"></div>
        <div id="Info4"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>